In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import pw
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect,join

In [2]:
# create engine to work with postgreSQL database
# url = f'postgresql://postgres:{pw}@localhost:5432/Houston_Real_Estate_db'
url=f'postgresql+psycopg2://postgres:{pw}@localhost/Houston_Real_Estate_db'
engine = create_engine(url)

In [3]:
# reflect an existing database into a new model
Base = automap_base()

In [4]:
# # reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
# create a session
# session=Session(engine)

In [6]:
#Using Pandas for Data Analysis
#  Read the appraisal Table
appraisal=pd.read_sql_table('appraisal',engine)

 # Calculate % of change of value between 2018 and 2019
appraisal_2018=appraisal.loc[appraisal.tax_year==2018,:]
appraisal_2019=appraisal.loc[appraisal.tax_year==2019,:]
appraisal_df=pd.merge(appraisal_2019,appraisal_2018,on='account', suffixes=('_2019','_2018'))
appraisal_df['pct_value_change']=(appraisal_df['total_appraised_value_2019']-appraisal_df['total_appraised_value_2018'])\
                              /appraisal_df['total_appraised_value_2018']*100
results_df=appraisal_df[['id_2019','account','total_appraised_value_2019', 'pct_value_change']]

In [7]:
#Read properties table
properties_df=pd.read_sql_table('properties',engine)
results_df=pd.merge(results_df,properties_df,on="account")
results_df=results_df.loc[results_df['sq_ft']<9000,:]
del results_df['address']

In [8]:
#Read crime table and merge to results
crime_df=pd.read_sql_table('crime',engine)
crime_df=crime_df.rename(columns={'Zip_Code':'Zip_code'})
crime_aggr=crime_df.groupby(['Zip_code']).count()['Offense_Count']
crime_aggr_df=pd.DataFrame(crime_aggr)
results_df=pd.merge(results_df,crime_aggr_df,left_on="zipcode", right_on="Zip_code")

In [9]:
#Read property_school table and merge to results
property_school_df=pd.read_sql_table('property_school',engine)
results_df=pd.merge(results_df,property_school_df,on="account")

,id_2019,account,total_appraised_value_2019,pct_value_change,latitude,longitude,zipcode,neighborhood_code,acreage,new_owner_date,sq_ft,flood_description,Offense_Count,school_id,school_type
0,1,21750000003,299000.0,0.000000,29.74614,-95.36987,77002,8400.07,0.0405,2009-10-13,1944.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary
1,1,21750000003,299000.0,0.000000,29.74614,-95.36987,77002,8400.07,0.0405,2009-10-13,1944.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912467,Middle
2,1,21750000003,299000.0,0.000000,29.74614,-95.36987,77002,8400.07,0.0405,2009-10-13,1944.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912025,High
3,2,21750000013,815000.0,0.000000,29.74605,-95.37014,77002,8400.01,0.3099,1995-08-02,2471.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary
4,2,21750000013,815000.0,0.000000,29.74605,-95.37014,77002,8400.01,0.3099,1995-08-02,2471.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912463,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53989,18964,1350380010003,598929.0,-1.211824,29.70516,-95.41646,77030,7414.03,0.0485,2017-07-28,2625.0,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,1453,101912080,Middle
53990,18964,1350380010003,598929.0,-1.211824,29.70516,-95.41646,77030,7414.03,0.0485,2017-07-28,2625.0,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,1453,101912026,High
53991,18965,1350380010004,617261.0,31.419088,29.70516,-95.41646,77030,7414.03,0.0533,2019-09-23,2625.0,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,1453,101912229,Elementary
53992,18965,1350380010004,617261.0,31.419088,29.70516,-95.41646,77030,7414.03,0.0533,2019-09-23,2625.0,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,1453,101912080,Middle
53993,18965,1350380010004,617261.0,31.419088,29.70516,-95.41646,77030,7414.03,0.0533,2019-09-23,2625.0,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,1453,101912026,High

In [11]:
#Read school table and merge to results
school_df=pd.read_sql_table('school',engine)
results_df=pd.merge(results_df,school_df,on=['school_id','school_type'])

In [12]:
#Add flood ranking#3- High Risk
#2 - Medium Risk
#1- Low Risk
results_df['flood_risk']=np.where(results_df['flood_description']=='AREA OF MINIMAL FLOOD HAZARD',1,3)
results_df.loc[(results_df['flood_description']=='0.2 PCT ANNUAL CHANCE FLOOD HAZARD'),'flood_risk']=2
results_df.loc[(results_df['flood_description']=='FLOODWAY'),'flood_risk']=3

del results_df['name']
del results_df['address']
del results_df['city']
del results_df['zip_code']
del results_df['district_id']
del results_df['latitude_y']
del results_df['longitude_y']
results_df=results_df.rename(columns={'latitude_x':'latitude', 'longitude_x':'longitude'})

In [13]:
#Count the house sale per neighborhood in 2019 and merge results
results_df['sales2019']=np.where(results_df['new_owner_date']>'2018-12-31',1,0)
sales=results_df.groupby('neighborhood_code')['sales2019'].sum()
sales=pd.DataFrame(sales)
sales=sales.rename(columns={'sales2019':'sales_neighborhood_2019'})
results_df=pd.merge(results_df,sales, on="neighborhood_code")
del results_df['sales2019']

In [14]:
#  Read the neighborhoods Table
neighborhoods_df=pd.read_sql_table('neighborhoods',engine)
results_df=pd.merge(results_df,neighborhoods_df,on='neighborhood_code')

In [16]:
# Filter by budget on year 2019
results_df=results_df.loc[results_df.total_appraised_value_2019<=1000000,:]
results_df

,id_2019,account,total_appraised_value_2019,pct_value_change,latitude,longitude,zipcode,neighborhood_code,acreage,new_owner_date,sq_ft,flood_description,Offense_Count,school_id,school_type,school_rating,flood_risk,sales_neighborhood_2019,neighborhood
0,1,21750000003,299000.0,0.000000,29.74614,-95.36987,77002,8400.07,0.0405,2009-10-13,1944.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary,75,1,6,BALDWIN SQ/TUAM SQ/MCGREGOR
1,3,21750000018,296400.0,0.000000,29.74619,-95.36996,77002,8400.07,0.0348,2018-06-29,1944.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary,75,1,6,BALDWIN SQ/TUAM SQ/MCGREGOR
2,15532,1215300010001,331080.0,0.000000,29.74530,-95.36882,77002,8400.07,0.0413,2017-06-28,1924.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary,75,1,6,BALDWIN SQ/TUAM SQ/MCGREGOR
3,15533,1215300010002,287800.0,-14.717082,29.74525,-95.36874,77002,8400.07,0.0352,2016-05-23,1965.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary,75,1,6,BALDWIN SQ/TUAM SQ/MCGREGOR
4,15534,1215300010003,299000.0,0.000000,29.74520,-95.36862,77002,8400.07,0.0480,2013-09-09,1965.0,AREA OF MINIMAL FLOOD HAZARD,4743,101912110,Elementary,75,1,6,BALDWIN SQ/TUAM SQ/MCGREGOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53989,13619,923430000047,493347.0,22.143711,29.69054,-95.44452,77025,7447.07,0.3767,2010-12-02,2636.0,None,2216,101912178,Elementary,95,3,84,AYRSHIRE SEC 6-14
53990,13620,923430000049,384780.0,24.664267,29.69047,-95.44483,77025,7447.07,0.2470,2017-05-25,2542.0,None,2216,101912178,Elementary,95,3,84,AYRSHIRE SEC 6-14
53991,13621,923430000050,518499.0,61.979813,29.69039,-95.44529,77025,7447.07,0.2551,2018-01-18,2097.0,None,2216,101912178,Elementary,95,3,84,AYRSHIRE SEC 6-14
53992,13622,923430000051,332834.0,0.000000,29.69038,-95.44554,77025,7447.07,0.2807,2019-08-19,2975.0,None,2216,101912178,Elementary,95,3,84,AYRSHIRE SEC 6-14
53993,13623,923430000054,280000.0,-13.228071,29.69041,-95.44506,77025,7447.07,0.2666,1988-01-02,2217.0,None,2216,101912178,Elementary,95,3,84,AYRSHIRE SEC 6-14